---
import cn from "@/libs/cn";
import Arrow from "@/components/Arrow.astro";

interface Props {
  right?: boolean;
  text?: string;
  en?: boolean;
  sm?: boolean;
}

const {
  right = true,
  text = "More",
  en = true,
  sm = false,
} = Astro.props as Props;

const btnWrapper = cn({
  "justify-end": right,
  "absolute right-5 bottom-5": sm,
  "flex pt-8": !sm,
});

const btnContent = cn(
  "group/item flex items-end cursor-pointer lg:py-6 hover:opacity-80 duration-300",
  {
    "pl-6": right,
    "flex-row-reverse pr-6": !right,
  },
);

const btnText = cn("lg:pb-2 lg:text-2xl text-black", {
  "pr-4 lg:pr-6": right && !sm,
  "pl-4 lg:pl-6": !right,
  "font-en": en && !sm,
  "font-primary font-bold": !en && !sm,
  "font-menu text-sm pr-2.5 pb-0.5 tracking-[0.15em]": sm,
  "pb-1 text-lg tracking-wide": !sm,
});

const btnDeco = cn("relative", {
  "scale-x-[-1]": !right,
});

const arrowStyle = cn(
  "absolute lg:-left-3 z-10 duration-300 group-hover/item:translate-x-1",
  {
    "bottom-3 -left-1": !sm,
    "bottom-1.5 -left-3 scale-75": sm,
  },
);

const circleStyle = cn(
  "-z-0 rounded-full bg-black duration-300 group-hover/item:scale-125 lg:h-12 lg:w-12",
  {
    "h-6 w-6": sm,
    "h-10 w-10": !sm,
  },
);
---

<div class={btnWrapper}>
  <div class={btnContent}>
    <p class={btnText}>{text}</p>
    <div class={btnDeco}>
      <Arrow others={arrowStyle} />
      <div class={circleStyle}></div>
    </div>
  </div>
</div>
